* {
    list-style: none;
    font-family: 'Handlee', cursive;
    font-size: 0.98em;
}

body {
    display: grid;
    grid-template-columns: 4(1fr);
    grid-template-rows: 3(1fr);
    background-color: hsla(50, 100%, 100%, 1);
}

.tools {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tools p {
    margin: 0.3em;
}

.logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.name {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
    font-size: 2.5em;
}

.contact {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: right;
    display: block;
    margin: 2em;
}

.contact a {
    background-color: hsla(51, 100%, 50%, 1);
    padding: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.2em;
    font-size: 1.4em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.newTable {
    background-color: hsl(200, 100%, 50%);
    margin: 1em;
    border-radius: 0.2em;
    height: min-content;
}

.new {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.4em;
}

.newList {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.inProgressTable {
    background-color: hsl(200, 100%, 50%);
    margin: 1em;
    border-radius: 0.2em;
    height: min-content;
}

.inProgress {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.4em;
}

.inProgressList {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.learningToValidateTable {
    background-color: hsl(200, 100%, 50%);
    margin: 1em;
    border-radius: 0.2em;
    height: min-content;
}

.learningToValidate {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.4em;
}

.learningToValidateList {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.validatedLearningTable {
    background-color: hsl(200, 100%, 50%);
    margin: 1em;
    border-radius: 0.2em;
    height: min-content;
}

.validatedLearning {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.4em;
}

.validatedLearningList {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

li {
    margin: 0.3em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: hsl(20, 100%, 99%);
    padding: 0.3em;
    border-radius: 0.2em;
}

h2 {
    margin: 0.5em;
}

h3 {
    margin: 0em;
}

h1 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#python, #japanese, #france, #logistic {
    margin-bottom: 0.6em;
}