* {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 4(1fr);
    grid-template-rows: 3(1fr);
}

.legend {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tools {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tools p {
    margin: 0px;
}

.name {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: center;
}

.contact {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: right;
}

.newTable {
    border-style: solid;
    background-color: hsl(200, 100%, 50%);
}

.new {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}

.newList {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.inProgressTable {
    border-style: solid;
    background-color: hsl(200, 100%, 50%);
}

.inProgress {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

.inProgressList {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.learningToValidateTable {
    border-style: solid;
    background-color: hsl(200, 100%, 50%);
}

.learningToValidate {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: center;
}

.learningToValidateList {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.validatedLearningTable {
    border-style: solid;
    background-color: hsl(200, 100%, 50%);
}

.validatedLearning {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    text-align: center;
}

.validatedLearningList {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

li {
    margin: 0.2em;
    background-color: hsl(20, 100%, 99%);
}